<div class="popup">
    <div class="header-popup">
        <h3>Add Group</h3>
        <button class="close-popup-btn" (click) = "TogglePopUp()"><i class="fa-solid fa-xmark"></i></button>
    </div>
    <form [formGroup] = "FormGroup" (ngSubmit) = "AddGroup(FormGroup)">

        <div class="form-outline mb-4">
            <label for="group-name" class="mt-5">Group name</label>
            <input formControlName = "groupName" type="text" class="form-control w-100 mb-5" id="group-name" placeholder="Enter group name">
        </div>

        <mat-form-field class="my-dropdown-menu">
            <mat-label>Users</mat-label>
            <mat-select multiple formControlName="users">   
                <input class="w-100 p-2" type="text" (input)="FilterUsers($event)">
                @for(user of FilteredUsers;track user.id){
                    @if(user.id != _authService.GetTokenDecoded()!.id){
                        <mat-option [value] = user.id>{{user.name}}</mat-option>
                    }
                }
            </mat-select>
          </mat-form-field>

        <div class="checkbox-group">
            <div>            
                <label for="get-check" class="m-1">get</label>
                <input type="checkbox" id="get-check" formControlName = "get">
            </div>

            <div>
                <label for="post-check" class="m-1">post</label>
                <input type="checkbox" id="post-check" formControlName = "post">
            </div>
            
            <div>
                <label for="put-check" class="m-1">put</label>
                <input type="checkbox" id="put-check" formControlName = "put">
            </div>
            
            <div>
                <label for="delete-check" class="m-1">delete</label>
                <input type="checkbox" id="delete-check" formControlName = "delete">   
            </div>       
        </div>

        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body" [disabled] = "FormGroup.invalid">Submit</button>
        </div>
    </form>
</div>

<div class="shaded-overlay"></div>
<!-- end of pop up section -->
 
<div class="main-container">
    <div class="header w-100">
        <div class="collection-header">
            <h2>Users manager</h2>          
            <button class="add-group" (click) = "TogglePopUp()">Add Group</button>
        </div>
        
        <div class="cutom-hr"></div>
    </div>
    
    <div class="container center">
        <div class="row">
            <div class="col-sm">
            <b class="fs-3">ID</b>
            </div>
            <div class="col-sm">
            <b class="fs-3">Name</b>
            </div>
            <div class="col-sm">
            <b class="fs-3">Email</b>
            </div>
            <div class="col-sm">
            <b class="fs-3">Pass</b>
            </div>     
            <div class="col-sm">
            <b class="fs-3">group</b>
            </div>     
        </div>
        <hr>
        @for(user of Users ; track user.id){
            <!-- hides the user so he can not edit himself -->
            @if(_authService.GetTokenDecoded()!.email !== user.email){
                    <div class="row">
                    <div class="col-sm">
                    <p class="fs-3">{{user.id}}</p>
                    </div>
                    <div class="col-sm">
                    <p class="fs-4">{{user.name}}</p>
                    </div>
                    <div class="col-sm">
                    <p class="fs-4">{{user.email}}</p>
                    </div>
                    <div class="col-sm">
                    <p class="fs-4">{{user.password}}</p>
                    </div>  
                    <div class="col-sm">
                        <button class="role-btn" (click) = "ToggleMenu(this.user.id)">{{user.groupName}}</button>
                        <div class="role-menu" [hidden]="!isMenuOpen[user.id]">
                            @for(group of Groups ; track group.id){
                                <button (click)="ChangeRole(this.group.id,this.user.id)">{{group.name}}</button>
                            }
                        </div>
                    </div>
                </div>
                <hr>
            }
        }
    </div>
</div>
