.main-container{
    width: 98vw;
    margin-top: 15vh;
    margin-left: 2vw;
}
.cutom-hr{
    min-width: 30%;
    max-width: 30%;
    background-color: rgba(0, 0, 0, 0.5);
    height: 1px;
}
.collection-header{
    display: flex;
    justify-content: space-between;
    width: 90%;
}
.center{
    margin-left: 10%;
    margin-top: 32px;
}
.center-items{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* pop up section */
.popup{
    min-width: 50%;
    max-width: 50%;    
    min-height: 50%;
    max-height: 50%;
    position: fixed;
    background-color: white;
    margin-left: 25%;
    border-radius: 8px;
    border: 1px black solid;
    visibility: hidden;
    z-index: 2;
    padding: 24px;
}
.header-popup{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.close-popup-btn{
    border: none;
    background-color: rgba(218, 218, 218, 1);
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.shaded-overlay{
    min-width: 100vw;
    min-height: 100vh;
    position: fixed;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.2);
    margin-top: -7%;
    visibility: hidden;
}

.checkbox-group{
    display: flex;
    justify-content: space-between;
    margin: 40px;
}
/* end of popup section */

.add-group{
    border: green 1px solid;
    color: green;
    border-radius: 8px;
    transition: 0.3s;
    font-size: large;
}
.add-group:hover{
    background-color: green;
    color: white;
}
.role-btn{
    border-radius: 8px;
    font-size: larger;
    position: relative;
    width: 100%;
}
.role-menu{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 10%;
    max-width: 10%;
    border: 0px solid white;
    visibility:visible;
    z-index: 1;
}
.role-menu > button{
    border: none;
    border-radius: 8px;
    font-size: large;
    min-width: 125%;
    width: 125%;
    background-color: rgba(218, 218, 218, 1);
    margin-top: 4px;
}
