<!-- collapsable nav bar needs to be removed suggested to manually make another nav bar because the collapose and the style are in one class -->
<nav class=" navbar-expand-lg navbar-light bg-light p-4">
  <h1 class="navbar-brand fs-1" href="#">Hub</h1>
  <div class="navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      @if(_authService.Token){
        <!-- an over write happened and the db got init twice thus making 2 admin groups 1, 4 because i reset the users table -->
        @if(_authService.GetTokenDecoded()!.groupId == 1 || _authService.GetTokenDecoded()!.groupId == 4){
        <li class="nav-item ">
          <a class="nav-link fs-5 mx-4" routerLink = "/users">User Manager </a>
        </li>
        }
        @if(_authService.GetTokenDecoded()!.getPermission){
        <li class="nav-item">
          <a class="nav-link fs-5 mx-3 " routerLink = "/tasks">Task Manager</a>
        </li>
        }
      }

    </ul>
  </div>
  <div>
    <ul class="navbar-nav ">

      @if(!_authService.Token){
        <li class="nav-item p-3">
          <a class="nav-link fs-5" routerLink = "/login">Login</a>
        </li>
        <li class="nav-item p-3">
          <a class="nav-link fs-5" routerLink = "/register">Register</a>
        </li>
      }
      @if(_authService.Token){
        <li class="nav-item ">
          <button class="nav-link fs-5" (click) = "LogOut()">Logout</button>
        </li>
      }

      </ul>
  </div>
</nav>